<!DOCTYPE html>
<html>
<head>
    <title>Delete Student</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Delete Student</h1>
        <p>Are you sure you want to delete this student?</p>
        <form method="POST" action="/admin/delete_student/{{.StudentGoogleID}}">
            <input type="hidden" name="google_id" value="{{.StudentGoogleID}}">
            <button type="submit">Yes, Delete</button>
            <button type="button" onclick="window.location.href='/admin/search_student'">Cancel</button>
        </form>
    </div>
</body>
</html>
