<!DOCTYPE html>
<html>
<head>
	<title>EduSync</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <script>
		const daysOfWeek = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

        function formatClassID(classID) {
            const parts = classID.split('-');
            if (parts.length !== 3) {
                return classID;  // Return as is if format is unexpected
            }
            const prefix = parts[0].toUpperCase();
            const day = daysOfWeek[parseInt(parts[1], 10)-1];
            const hour = parseInt(parts[2], 10);
            const period = hour >= 12 ? 'pm' : 'am';
            const formattedHour = hour > 12 ? hour - 12 : hour;
            return `${prefix}-${day}-${formattedHour}${period}`;
        }

		async function fetchStudents(url) {
			const response = await fetch(url);

			if (!response.ok) {
				const errorMessage = `Error: ${response.status} - ${response.statusText}`;
				throw new Error(errorMessage);
			}
				
			const students = await response.json();
			const resultsDiv = document.getElementById('results');
			resultsDiv.innerHTML = '';

			if (students && students.length > 0) {
				students.forEach(student => {
					const studentDiv = document.createElement('div');
					studentDiv.className = 'student';
					studentDiv.innerHTML = `<a href="/admin/student/${student.google_id}/edit"><strong>${student.name}</strong></a>  -  <strong>${formatClassID(student.class_id)}</strong>`;
					resultsDiv.appendChild(studentDiv);
				});
			} else {
				resultsDiv.innerHTML = 'No students found.';
			}
	    }

        async function searchStudents() {
            const nameFilter = document.getElementById('nameFilter').value;
            const classFilter = document.getElementById('classFilter').value;
            const response = await fetch(`/admin/api/search_student?name=${nameFilter}&class=${classFilter}`);
            
            if (!response.ok) {
                const errorMessage = `Error: ${response.status} - ${response.statusText}`;
                throw new Error(errorMessage);
            }
            
            const students = await response.json();
            const resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = '';

            if (students && students.length > 0) {
                students.forEach(student => {
                    const studentDiv = document.createElement('div');
                    studentDiv.className = 'student';
                    studentDiv.innerHTML = `<a href="/admin/student/${student.google_id}/edit"><strong>${student.name}</strong></a>  -  <strong>${formatClassID(student.class_id)}</strong>`;
                    resultsDiv.appendChild(studentDiv);
                });
            } else {
                resultsDiv.innerHTML = 'No students found.';
            }
        }

		window.onload = async function() {
            await fetchStudents(`/admin/api/search_student`);
        }
    </script>
</head>
<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="/assets/images/site-logo.jpg" alt="Logo Image" style="width: 120px; height: auto;">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/admin">Home</a></li>
                                <li><a href="/admin/search_student">Students</a></li>
                                <li><a href="/admin/search_parent">Parents</a></li>
                                <li><a href="/admin/search_instructor">Instructors</a></li>
								<li><a href="/admin/search_announcement">Announcements</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
        <hr>
		<!-- Header Close -->
		<div class="container content">
            <h1>Update Student Details</h1>
            <div>
                <label for="nameFilter">Name:</label>
                <input type="text" id="nameFilter">
                <label for="classFilter">Class:</label>
                <input type="text" id="classFilter">
                <button onclick="searchStudents()">Search</button>
            </div>
			<br>
            <div id="results"></div>
        </div>
	</div>
	<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/all.js"></script>
	<script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.rateyo.js"></script>
	<script type="text/javascript" src="/assets/js/custom.js"></script>
</body>
</html>