<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Management</title>
  <style>
    /* Body styles */
    body {
      background-color: #dad8c9;  /* Light blue background */
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    /* Header styles */
    h1 {
      color: #6a6767;  /* Yellow for header */
      font-size: 2em;
      text-align: center;
      margin: 20px 0;  /* Add some top and bottom margin */
    }
  </style>
</head>
<body>
    {{template "header.html" .}}
    <p></p>
    <h1>Instructor Management Panel</h1>
    <div>Instructor Management here.</div>
</body>
</html>